body {
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Shadows Into Light', cursive;
    /*Para que el footer siempre este abajo*/
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.logo {
    padding: 0;
    width: 80%;
    position: relative;
}

.imgperson {
    padding: 0;
    position: relative;
}

a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 20px;
}

a:hover {
    background: rgba(34, 133, 116, 0.2);
}

img{
    padding: 20px;
    width: 75%;
    height: auto;
    position: absolute;
}

canvas {
    padding: 20px;
    width: 75%;
    height: auto;
    position: relative;
}

video {
    padding: 20px;
    width: 75%;
    height: auto;
    position: absolute;

}
/*
.element-container {
    position: absolute;
    padding-bottom: 75%;
    padding-top: 16px; height: 0; overflow: hidden;
  }
  
.element-container video,
.element-container img,
.element-container object,
.element-container embed {
    width: 90%;
    height: auto;
    top: 0;
    left: 0;
}*/
  
/*Footer siempre abajo*/
footer{
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}