<head>
    <!--SCRIPTS DE RECONOCIMIENTO-->

    <script defer src="/script/face-api.min.js"></script>
    <script defer src="/script/sccamera.js"></script>
</head>

<!--Para hacer ajustes en el tamaño del canvas tocar aqui solo para video-->
<div class="Contenedor" id="contenedor">
    <video id="video" width="860" height="646" autoplay></video>
</div> 