<div class="container p-4">
    <div class="jumbotron">
        <h2 class="display-5">Guia de Uso:</h2>
        <p>Para usar la herramienta de analisis de imagen, primeramente necesita estar Logueado
        </p>
        <img src="/style/img/login.png" class="mx-auto d-block m-4 logo">
        <p>Una vez se encuentre logueado en al herramienta, necesita revisar si los datos de la persona ha buscar se encuentran registrados, de lo contrario registrar los nuevos datos, echo esto se requerira el nombre y el apellido como datos para la busqueda
        </p>
        <img src="/style/img/busqueda.png" class="mx-auto d-block m-4 logo">
        <p>Del mismo modo se puede realizar una busqueda doble de personas que se encuenren un a misma imagen ha analizar.
        </p>
        <p><h4>Tomar en cuenta:</h4> que para una busqueda doble se requiere que se digiten tanto el nombre como el apellido de la persona, de lo contrario no se encontrara las coincidencias en la base de datos</p>
        <img src="/style/img/busquedadoble.png" class="mx-auto d-block m-4 logo">
    </div>
</div>