<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SCRIPTS DE RECONOCIMIENTO-->

    <script defer src="/script/face-api.min.js"></script>
    <script defer src="/script/scimage.js"></script>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>
    <input type="file" id="imageUpload">
    <div class="Contenedor" id="contenedor"> </div>
    <%- include('partials/footer.html') %>
</body>

</html>