<div class="container p-2">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, delectus?</p>
        <hr class="my-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit iste, architecto incidunt illum quaerat
            corporis.
            Provident fugit molestiae nihil temporibus?</p>
        <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
    </div>
</div>
<!-- SECTION ONE -->
<div class="container-fluid" id="about">
    <div class="row bg-dark text-withe p-5 text-center">


        <div class="col-sm-6">
            <i class="fab fa-battle-net fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>the most suscribed youtuber</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure impedit deleniti minima deserunt? A
                commodi non tempore adipisci corrupti fugiat dicta libero, ipsa placeat voluptatum necessitatibus
                quisquam, ullam quasi excepturi!</p>
        </div>
    </div>
</div>