<div class="container p-2">
    <div class="jumbotron mt-4">
        <h1 class="display-5">Reconomiento de Rostros</h1>
        <p class="lead">Imagenes y Videos</p>
        <hr class="my-4">
        <p>El presente proyecto ha sido desarrollado con nodejs, express, handlebars, con el motor de base de datos de Mongodb, y la api de Faceapi.js para el procesamiento de imagenes</p>
        <a href="https://github.com/mikiAnge/nodejsbearface" class="btn btn-primary btn-lg">Git Proyecto</a>
    </div>
</div>
<!-- SECTION ONE -->
<div class="container p-2" id="about">
    <div class="row jumbotron text-withe text-center">
        <div class="col-sm-4">
            <i class="fas fa-brain fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Para mas informacion</h3>
            <p>Sobre la api de reconocimiento que se uso se puede visitar el repositorio de su creador Vincent Müller <a href="https://github.com/justadudewhohacks/face-api.js?files=1">Justadudewhohacks</a>, asi tambien se puede consultar la documentacion de la API para conocer mas sobre el contenido y funciones de la misma <a href="https://justadudewhohacks.github.io/face-api.js/docs/globals.html">Doc Faceapi.js</a></p>
        </div>
    </div>
</div>