<div class="container p-2"></div>
<div class="row mx-auto">
    <div class="col-md-5 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="/persons/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastname" placeholder="Last Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="age" placeholder="Age" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Selecciona tu Archivo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            Upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>