<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIFace</title>
    <!--ICONO BARRA-->
    <link rel="icon" href="/style/img/ojokeke.ico">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="/style/css/all.min.css">
    <!--GOOGLE FONTS-->
    <link rel="stylesheet" href="/style/fonts/ShadowsIntoLight-Regular.ttf">
    <!--CSS ANIMATION-->
    <link rel="stylesheet" href="/style/css/animated.min.css">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/style/css/main.css">
</head>

<body>
    {{>navigation}}

    {{>messages}}
    {{>errors}}
    {{{ body }}}

    <footer class="bg-light text-center p-2>
        <p class=" h3">Miguel Ruiz 2020 &copy;</p>
    </footer>

    <!-- Script -->
    <script src="/style/js/jquery.min.js"></script>
    <!--    <script src="/style/js/bootstrap.bundle.min.js"></script> -->
    <script src="/style/js/popper.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
</body>

</html>