<div class="container p-2"></div>
<div class="row mx-auto">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Inicio de Sesión
            </div>
            <!-- Colocar una imagen aqui-->
            <i class="fas fa-users fa-10x"></i>
            <div class="card-body">
                <form action="/users/singin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Singin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>